<nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" id='brand' href="/">EAT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto fill ">
                    <li class="nav-item" >
                        <a class="nav-link" id="link" href="/">HOME<span class="sr-only" >(current)</span></a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" id="link" href="/about">ABOUT <span class="sr-only" >(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="#four-icons">MENU <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="/contact">CONTACT<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link" href="/login">LOGIN/SIGNUP<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fas fa-shopping-cart" id="link" href="/cart"><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>