 
 <div  class="container-fluid ">
     <div class="row ">
         <div class="col-md-6 col-lg-6 col-sm-6 imgTran ">
              <div  id="three-container"></div>
         </div>
         <div class="col-md-6 col-lg-6 col-sm-6 imgTran">
            <h1 id="aboutPage" >ABOUT US</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis modi cum ipsum? Sint quo vel facere saepe ipsum. Quas magnam voluptatem excepturi alias voluptas, quisquam corporis reiciendis id earum?</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis modi cum ipsum? Sint quo vel facere saepe ipsum. Quas magnam voluptatem excepturi alias voluptas, quisquam corporis reiciendis id earum?</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis modi cum ipsum? Sint quo vel facere saepe ipsum. Quas magnam voluptatem excepturi alias voluptas, quisquam corporis reiciendis id earum?</p>
         </div>
     </div>
 </div>


 