<section class="notebook-hero">
    <h1 id="pizza-text" href="#">
        <span data-text="P">P</span>
        <span data-text="I">A</span>
        <span data-text="Z">S</span>
        <span data-text="Z">T</span>
        <span data-text="A">A</span>
    </h1>
    
</section>


<!------------pizza lists starts-------------------->

<div class="container-fluid  ">
    <div class="row no-gutters">
        <div class="col-lg-2  ">
            <div class="box1 ">
                <img class="img-fluid" src="img/listPizza1.jpg" alt="">
                <h3 class="title">Margherita<br> $60</h3>
                <h6 id="sixty">60</h6>
                <ul class="icon">
                    <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                id="Margherita">
                            </i></a href="#myModal">
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="box-black">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">San Marzano tomatoes, mozzarella cheese, fresh basil, salt and
                            extra-virgin olive oil.</p>
                        <div class="btn-container">
                            <button class="btn standard-btn card-link" href="#myModal">Order Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="box1">
                <img src="img/listPizza2.jpg" alt="">
                <h3 class="title">pepperoni<br> $90</h3>
                <ul class="icon">
                    <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                id="pepperoni">
                            </i></a href="#myModal">
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="box-black">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">San Marzano tomatoes, mozzarella cheese, fresh basil, salt and
                            extra-virgin olive oil.</p>
                        <div class="btn-container">
                            <button class="btn standard-btn card-link" href="#myModal">Order Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-2">
            <div class="single-pizza">
                <figure>
                    <div class="box1">
                        <img src="img/tonno.jpg" alt="">
                        <h3 class="title">Tonno<br> $100</h3>
                        <ul class="icon">
                            <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                        id="tonno">
                                    </i></a href="#myModal">
                            </li>

                        </ul>
                    </div>

                </figure>
            </div>
        </div>


      <div class="col-lg-2">
            <div class="box-black">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">San Marzano tomatoes, mozzarella cheese, fresh basil, salt and
                            extra-virgin olive oil.</p>
                        <div class="btn-container">
                            <button class="btn standard-btn card-link" href="#myModal">Order Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
    </div> 
</div>

<!----------second row list------------------------------------->


<div class="container-fluid  ">
    <div class="row no-gutters">
       
        <div class="col-lg-2">
            <div class="box-black">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">San Marzano tomatoes, mozzarella cheese, fresh basil, salt and
                            extra-virgin olive oil.</p>
                        <div class="btn-container">
                            <button class="btn standard-btn card-link" href="#myModal">Order Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-lg-2  ">
            <div class="box1 ">
                <img src="img/2.jpg" alt="">
                <h3 class="title">Margherita<br> $60</h3>
                <ul class="icon">
                    <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                id="Margherita">
                            </i></a href="#myModal">
                    </li>
                </ul>
            </div>
        </div>

       

        <div class="col-lg-2">
            <div class="box-black">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">San Marzano tomatoes, mozzarella cheese, fresh basil, salt and
                            extra-virgin olive oil.</p>
                        <div class="btn-container">
                            <button class="btn standard-btn card-link" href="#myModal">Order Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-2">
            <div class="single-pizza">
                <figure>
                    <div class="box1">
                        <img src="img/tonno.jpg" alt="">
                        <h3 class="title">Tonno<br> $100</h3>
                        <ul class="icon">
                            <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                        id="tonno">
                                    </i></a href="#myModal">
                            </li>

                        </ul>
                    </div>

                </figure>
            </div>
        </div>
         <div class="col-lg-2">
            <div class="box-black">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Margherita</h5>
                        <p class="card-text">San Marzano tomatoes, mozzarella cheese, fresh basil, salt and
                            extra-virgin olive oil.</p>
                        <div class="btn-container">
                            <button class="btn standard-btn card-link" href="#myModal">Order Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

 <div class="col-lg-2">
            <div class="box1">
                <img src="img/pesto.jpg" alt="">
                <h3 class="title">pizza-al-pesto<br> $90</h3>
                <ul class="icon">
                    <li><a><i href="#myModal" class="add-to-cart-btn fas fa-shopping-cart" data-toggle='modal'
                                id="pizza-al-pesto">
                            </i></a href="#myModal">
                    </li>

                </ul>
            </div>
        </div>
             
    </div> 
</div>




<!------------numbercounter starts-------------------->
<div class="container-fluid statNum">
    <div  class="row stat">
        <div class="statIcon col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="milestone-counter">
                <i class="fa fa-user fa-3x"></i>
                <span class="stat-count highlight">922</span>
                <div class="milestone-details">Happy Customers</div>
            </div>
        </div>
        <div class="statIcon col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="milestone-counter">
                <i class="fa fa-pizza-slice fa-3x"></i>
                <span class="stat-count highlight">100</span>
                <div class="milestone-details">Ordered Pizza's</div>
            </div>
        </div>
        <div class="statIcon col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="milestone-counter">
                <i class="fa fa-trophy fa-3x"></i>
                <span class="stat-count highlight">140</span>
                <div class="milestone-details">Awards Win</div>
            </div>
        </div>
        <div class="statIcon col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="milestone-counter">
                <i class="fa fa-camera fa-3x"></i>
                <span class="stat-count highlight">500</span>
                <div class="milestone-details">Photos Taken</div>
            </div>
        </div>
    </div><!-- stat -->
</div>

<!------------confirmation box-------------------->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title">Awesome!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Your order has been successfully added!</p>
            </div>
            <div class="modal-footer">
                <button class="btn-confirmation btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>